body {
  	background: #4700BC;
		color:#FAFF00;

}

.container{
		display: flex;
		flex-wrap: wrap;
		margin: auto;
}

.A {
		padding: 20px;
    transition: 500ms ease all;
    width: 300px;
    height: 300px;
    position: relative;
}

.A:hover {
    transform: rotate(30deg);
}

#A {
		width: 200px;
    height: 200px;
    clip-path: polygon(50% 0, 85% 100%, 15% 100%);
    background: #FAFF00;
    position: absolute;
    top: 75px;
    left: 75px;

}

.B {
		padding: 20px;
		transition: 500ms ease all;
		width: 300px;
		height: 300px;
		position: relative;

}

.B:hover {
		transform: rotate(-30deg);
}

#B {
		width: 200px;
    height: 200px;
    clip-path: polygon(0% 0%, 30% 0, 50% 30%, 30% 50%, 50% 70%, 30% 100%, 0% 100%);
    background: #FAFF00;
    position: absolute;
    top: 75px;
    left: 112px;
}



.C {
		padding: 20px;
		transition: 500ms ease all;
		width: 300px;
		height: 300px;
		position: relative;
}

.C:hover {
  	transform: rotate(30deg);
}


#C {
		width: 200px;
    height: 200px;
    clip-path: polygon(50% 0, 25% 5%, 10% 25%, 0 50%, 10% 75%, 25% 95%, 50% 100%);
    background: #FAFF00;
    position: absolute;
    left: 100px;
    top: 80px;
}

.D {
		padding: 20px;
		transition: 500ms ease all;
		width: 300px;
		height: 300px;
		position: relative;

}

.D:hover {
  	transform: rotate(-30deg);
}

#D {
		width: 200px;
    height: 200px;
    clip-path: polygon(0% 1%, 0% 100%, 25% 95%, 40% 75%, 50% 50%, 40% 25%, 25% 5%);
    background: #FAFF00;
    position: absolute;
		left: 100px;
    top: 80px;
}

.E {
		padding: 20px;
		transition: 500ms ease all;
		width: 300px;
		height: 300px;
		position: relative;

}

.E:hover {
  	transform: rotate(30deg);
}

#E {
		width: 200px;
		height: 200px;
		clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 50% 80%, 25% 65%, 50% 50%, 25% 35%, 50% 20%, 25% 0);
		background: #FAFF00;
		position: absolute;
    left: 100px;
    top: 80px;
}

.F {
		padding: 20px;
		transition: 500ms ease all;
		width: 300px;
		height: 300px;
		position: relative;

}

.F:hover {
  	transform: rotate(-30deg);
}

#F {
		width: 200px;
		height: 200px;
		clip-path: polygon(0% 0%, 0% 100%, 50% 50%, 25% 30%, 75% 0);
		background: #FAFF00;
		position: absolute;
    left: 80px;
    top: 80px;
}

.G {
		padding: 20px;
		transition: 500ms ease all;
		width: 300px;
		height: 300px;
		position: relative;

}

.G:hover {
  	transform: rotate(30deg);
}

#G {
		width: 200px;
		height: 200px;
		clip-path: polygon(50% 0, 0 0, 0 100%, 50% 100%, 50% 50%, 25% 50%);
		background: #FAFF00;
		position: absolute;
		left: 100px;
		top: 75px;
}

.H {
		padding: 20px;
		transition: 500ms ease all;
		width: 300px;
		height: 300px;
		position: relative;


}

.H:hover {
    transform: rotate(-30deg);
}

#H {
		width: 200px;
		height: 200px;
		clip-path: polygon(0 0, 25% 39%, 25% 40%, 50% 0, 50% 100%, 25% 60%, 0 100%);
		background: #FAFF00;
		position: absolute;
		left: 112px;
    top: 74px;
}

.I {
		padding: 20px;
		transition: 500ms ease all;
		width: 300px;
		height: 300px;
		position: relative;

}

.I:hover {
    transform: rotate(30deg);
}


#I {
		width: 200px;
		height: 200px;
		clip-path: polygon(50% 0, 25% 50%, 50% 100%, 75% 50%);
		background: #FAFF00;
		position: absolute;
		left: 80px;
		top: 80px;
}

.J {
		padding: 20px;
		transition: 500ms ease all;
		width: 300px;
		height: 300px;
		position: relative;

}

.J:hover {
    transform: rotate(-30deg);
}


#J {
		width: 200px;
		height: 200px;
		clip-path: polygon(75% 0, 75% 100%, 50% 100%, 25% 80%, 25% 50%, 50% 70%);
		background: #FAFF00;
		position: absolute;
		left: 80px;
		top: 80px;
}

.K {
		padding: 20px;
		transition: 500ms ease all;
		width: 300px;
		height: 300px;
		position: relative;

}

.K:hover {
    transform: rotate(30deg);
}


#K {
		width: 200px;
		height: 200px;
		clip-path: polygon(0 0, 0 100%, 30% 75%, 75% 100%, 50% 50%, 75% 0, 30% 25%);
		background: #FAFF00;
		position: absolute;
		left: 110px;
		top: 80px;
}

.L {
		padding: 20px;
		transition: 500ms ease all;
		width: 300px;
		height: 300px;
		position: relative;

}

.L:hover {
    transform: rotate(-30deg);
}

#L {
		width: 200px;
		height: 200px;
		clip-path: polygon(25% 0, 0 25%, 0 100%, 75% 100%, 25% 75%);
		background: #FAFF00;
		position: absolute;
		left: 120px;
		top: 80px;

}

.M {
		padding: 20px;
		transition: 500ms ease all;
		width: 300px;
		height: 300px;
		position: relative;

}

.M:hover {
    transform: rotate(30deg);
}


#M {
		width: 200px;
		height: 200px;
		clip-path: polygon(38% 50%, 0 0, 0 100%, 75% 100%, 75% 0);
		background: #FAFF00;
		position: absolute;
		left: 100px;
		top: 80px;
}

.N {
		padding: 20px;
		transition: 500ms ease all;
		width: 300px;
		height: 300px;
		position: relative;

}

.N:hover {
    transform: rotate(-30deg);
}


#N {
		width: 200px;
		height: 200px;
		clip-path: polygon(0 0, 50% 25%, 75% 0, 75% 100%, 25% 75%, 0 100%);
		background: #FAFF00;
		position: absolute;
		left: 90px;
		top: 80px;
}

.O {
		padding: 20px;
		transition: 500ms ease all;
		width: 300px;
		height: 300px;
		position: relative;

}

.O:hover {
    transform: rotate(30deg);
}


#O {
		width: 200px;
		height: 200px;
		clip-path: polygon(36% 0, 75% 33%, 75% 66%, 36% 100%, 0 66%, 0 33%);
		background: #FAFF00;
		position: absolute;
		left: 90px;
		top: 70px;
}

.P {
		padding: 20px;
		transition: 500ms ease all;
		width: 300px;
		height: 300px;
		position: relative;

}

.P:hover {
    transform: rotate(-30deg);
}


#P {
		width: 200px;
		height: 200px;
		clip-path: polygon(35% 0, 75% 35%, 35% 50%, 0 100%, 0 0);
		background: #FAFF00;
		position: absolute;
		left: 110px;
		top: 70px;
}

.Q {
		padding: 20px;
		transition: 500ms ease all;
		width: 300px;
		height: 300px;
		position: relative;

}

.Q:hover {
    transform: rotate(30deg);
}

#Q {
		width: 200px;
		height: 200px;
		clip-path: polygon(36% 0, 0 33%, 0 66%, 36% 100%, 75% 100%, 57% 84%, 75% 66%, 75% 33%);
		background: #FAFF00;
		position: absolute;
		left: 80px;
		top: 70px;
}

.R {
		padding: 20px;
		transition: 500ms ease all;
		width: 300px;
		height: 300px;
		position: relative;

}

.R:hover {
    transform: rotate(-30deg);
}


#R {
		width: 200px;
		height: 200px;
		clip-path: polygon(35% 0, 0 0, 0 100%, 75% 100%, 35% 50%, 76% 35%);
		background: #FAFF00;
		position: absolute;
		left: 80px;
		top: 70px;
}

.S {
		padding: 20px;
		transition: 500ms ease all;
		width: 300px;
		height: 300px;
		position: relative;

}

.S:hover {
    transform: rotate(30deg);
}


#S {
		width: 200px;
		height: 200px;
		clip-path: polygon(75% 0, 25% 0, 0 33%, 25% 66%, 0 100%, 50% 100%, 75% 66%, 50% 33%);
		background: #FAFF00;
		position: absolute;
		left: 80px;
		top: 80px;
}

.T {
		padding: 20px;
		transition: 500ms ease all;
		width: 300px;
		height: 300px;
		position: relative;

}

.T:hover {
    transform: rotate(-30deg);
}


#T {
		width: 200px;
		height: 200px;
		clip-path: polygon(0% 0%, 75% 0, 75% 20%, 50% 40%, 38% 100%, 25% 40%, 0 20%);
		background: #FAFF00;
		position: absolute;
		left: 80px;
		top: 80px;
}

.U {
		padding: 20px;
		transition: 500ms ease all;
		width: 300px;
		height: 300px;
		position: relative;

}

.U:hover {
    transform: rotate(30deg);
}


#U {
		width: 200px;
		height: 200px;
		clip-path: polygon(0% 0%, 75% 0, 75% 75%, 50% 100%, 25% 100%, 0 75%);
		background: #FAFF00;
		position: absolute;
		left: 80px;
		top: 80px;
}

.V {
		padding: 20px;
		transition: 500ms ease all;
		width: 300px;
		height: 300px;
		position: relative;

}

.V:hover {
    transform: rotate(-30deg);
}


#V {
		width: 200px;
		height: 200px;
		clip-path: polygon(37% 100%, 0 0, 75% 0);
		background: #FAFF00;
		position: absolute;
		left: 90px;
		top: 70px;
}

.W {
		padding: 20px;
		transition: 500ms ease all;
		width: 300px;
		height: 300px;
		position: relative;

}

.W:hover {
    transform: rotate(30deg);
}


#W {
		width: 200px;
		height: 200px;
		clip-path: polygon(0 0, 25% 100%, 38% 50%, 50% 100%, 75% 0);
		background: #FAFF00;
		position: absolute;
		left: 90px;
		top: 80px;
}

.X {
		padding: 20px;
		transition: 500ms ease all;
		width: 300px;
		height: 300px;
		position: relative;

}

.X:hover {
    transform: rotate(-30deg);

}

#X {
		width: 200px;
		height: 200px;
		clip-path: polygon(0 0, 25% 50%, 0 100%, 37% 75%, 75% 100%, 50% 50%, 75% 0, 37% 26%);
		background: #FAFF00;
		position: absolute;
		left: 100px;
		top: 100px;
}

.Y {
		padding: 20px;
		transition: 500ms ease all;
		width: 300px;
		height: 300px;
		position: relative;

}

.Y:hover {
    transform: rotate(30deg);
}


#Y {
		width: 200px;
		height: 200px;
		clip-path: polygon(30% 45%, 0 0, 75% 0, 45% 45%, 38% 100%);
		background: #FAFF00;
		position: absolute;
		left: 100px;
		top: 100px;
}

.Z {
		padding: 20px;
		transition: 500ms ease all;
		width: 300px;
		height: 300px;
		position: relative;

}

.Z:hover {
    transform: rotate(-30deg);
}

#Z {
		width: 200px;
		height: 200px;
		clip-path: polygon(0 0, 50% 0, 75% 0, 45% 65%, 75% 100%, 25% 100%, 0 100%, 30% 35%);
		background: #FAFF00;
		position: absolute;
		left: 80px;
		top: 80px;
}
