body {
  	background: #380094;
    padding-top: 30px;
    padding-bottom: : 60px;
    padding-left: 60px;
    padding-right: 60px;

}


.container{
		display: flex;
		flex-wrap: wrap;
		margin: auto;
}




.title {
  position: relative;
	padding: 30px;

	display: grid;
	float: left;

	grid-template-columns: 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px;
	grid-template-rows: 13px 13px 13px 13px 13px;
	grid-gap: 0px 0px;
}


/* letter pieces */

.title div {
  border-radius: 20px;
	background: white;
}

.title div.empty {
	background: transparent;
}







.letter {
	position: relative;
	margin: 60px;

	display: grid;
	float: left;

	grid-template-columns: 40px 40px 40px 40px 40px;
	grid-template-rows: 40px 40px 40px 40px 40px;
	grid-gap: 0px 0px;
}


/* letter pieces */

.letter div {
	border-radius: 20px;
  background: #FF00C7;
  box-shadow:
       inset 0 0 50px white,      /* inner white */
       inset 20px 0 80px #FF00C7,   /* inner left */
       inset -20px 0 80px #FF00F2,  /* inner right */
       inset 20px 0 300px #FF00C7,  /* inner left */
       inset -20px 0 300px #FF00F2, /* inner right */
       0 0 50px #FF00F2,            /* outer */
       -10px 0 80px #FF00C7,        /* outer left */
       10px 0 80px #FF00C7;         /* outer right */

}

.letter div.empty {
	background: transparent;
  box-shadow: none;
}

.letter div:hover {
	background: transparent;
  box-shadow: none;
}






.number {
	position: relative;
	margin: 60px;
  animation-delay:2s;

	display: grid;
	float: left;

	grid-template-columns: 30px 30px 30px 30px 30px;
	grid-template-rows: 30px 30px 30px 30px 30px;
	grid-gap: 0px 0px;
}



/* letter pieces */

.number div {
	border-radius: 20px;
	background:#DDFF00;
  box-shadow:
       inset 0 0 40px white,      /* inner white */
       inset 10px 0 70px #DDFF00,   /* inner left */
       inset -10px 0 70px #B7FF00,  /* inner right */
       inset 10px 0 290px #DDFF00,  /* inner left */
       inset -10px 0 290px #B7FF00, /* inner right */
       0 0 40px #B7FF00,            /* outer */
       -10px 0 70px #DDFF00,        /* outer left */
       10px 0 70px #DDFF00;         /* outer right */

}

.number div.empty {
	background: transparent;
  box-shadow: none;
}

.number div:hover {
	background: transparent;
  box-shadow: none;
}





.punctuation {
  position: relative;
	margin: 60px;

	display: grid;
	float: left;

	grid-template-columns: 30px 30px 30px 30px 30px;
	grid-template-rows: 30px 30px 30px 30px 30px;
	grid-gap: 0px 0px;
}


/* letter pieces */

.punctuation div {
  border-radius: 20px;
  background: #00F7FF;
  box-shadow:
       inset 0 0 40px white,      /* inner white */
       inset 10px 0 70px #00F7FF,   /* inner left */
       inset -10px 0 70px #00FFE1,  /* inner right */
       inset 10px 0 290px #00F7FF,  /* inner left */
       inset -10px 0 290px #00FFE1, /* inner right */
       0 0 40px #00FFE1,            /* outer */
       -10px 0 70px #00F7FF,        /* outer left */
       10px 0 70px #00F7FF;         /* outer right */
}

.punctuation div.empty {
	background: transparent;
  box-shadow: none;
}

.punctuation div:hover {
	background: transparent;
  box-shadow: none;
}





/* letter pieces */

.text {
  position: relative;
	padding: 20px;

	display: grid;
	float: left;

  grid-template-columns: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
	grid-template-rows: 10px 10px 10px 10px 10px;
	grid-gap: 0px 0px;
}

.text div {
	border-radius: 20px;
  background: #FF6600;
  box-shadow:
       inset 0 0 20px white,      /* inner white */
       inset 10px 0 50px #FF6600,   /* inner left */
       inset -10px 0 50px #FFA500,  /* inner right */
       inset 10px 0 270px #FF6600,  /* inner left */
       inset -10px 0 270px #FFA500, /* inner right */
       0 0 20px #FFA500,            /* outer */
       -10px 0 50px #FF6600,        /* outer left */
       10px 0 50px #FF6600;         /* outer right */

}

.text div.empty {
	background: transparent;
  box-shadow: none;
}

.text div:hover {
	background: transparent;
  box-shadow: none;
}



/* letter pieces */

.text2 {
  position: relative;
	padding: 20px;

	display: grid;
	float: left;

  grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
	grid-template-rows: 20px 20px 20px 20px 20px;
	grid-gap: 0px 0px;
}

.text2 div {
	border-radius: 20px;
  background: #FF6600;
  box-shadow:
       inset 0 0 30px white,      /* inner white */
       inset 20px 0 60px #FF6600,   /* inner left */
       inset -20px 0 60px #FFA500,  /* inner right */
       inset 20px 0 280px #FF6600,  /* inner left */
       inset -20px 0 280px #FFA500, /* inner right */
       0 0 30px #FFA500,            /* outer */
       -20px 0 60px #FF6600,        /* outer left */
       20px 0 60px #FF6600;         /* outer right */

}

.text2 div.empty {
	background: transparent;
  box-shadow: none;
}

.text2 div:hover {
	background: transparent;
  box-shadow: none;
}




/* letter pieces */

.text3 {
  position: relative;
	padding: 20px;

	display: grid;
	float: left;

  grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
	grid-template-rows: 40px 40px 40px 40px 40px;
	grid-gap: 0px 0px;
}

.text3 div {
	border-radius: 20px;
  background: #FF6600;
  box-shadow:
       inset 0 0 50px white,      /* inner white */
       inset 20px 0 80px #FF6600,   /* inner left */
       inset -20px 0 80px #FFA500,  /* inner right */
       inset 20px 0 300px #FF6600,  /* inner left */
       inset -20px 0 300px #FFA500, /* inner right */
       0 0 20px #FFA500,            /* outer */
       -10px 0 80px #FF6600,        /* outer left */
       10px 0 80px #FF6600;         /* outer right */

}

.text3 div.empty {
	background: transparent;
  box-shadow: none;
}

.text3 div:hover {
	background: transparent;
  box-shadow: none;
}



@keyframes flickerAnimation1 {
  50%  { opacity:.5; }
  75%  { opacity:1; }
  100% { opacity:.75; }
}
@-o-keyframes flickerAnimation1{
  50%  { opacity:.5; }
  75%  { opacity:1; }
  100% { opacity:.75; }
}
@-moz-keyframes flickerAnimation1{
  50%  { opacity:.5; }
  75%  { opacity:1; }
  100% { opacity:.75; }
}
@-webkit-keyframes flickerAnimation1{
  50%  { opacity:.5; }
  75%  { opacity:1; }
  100% { opacity:.75; }
}
.animate-flicker-alphabet {
   -webkit-animation: flickerAnimation1 1.5s infinite;
   -moz-animation: flickerAnimation1 1s infinite;
   -o-animation: flickerAnimation1 2s infinite;
    animation: flickerAnimation1 1.5s infinite;
    animation-delay: 2s;
}

.animate-flicker-alphabet:hover {

  animation: ease;
  opacity: none;
}


@keyframes flickerAnimation2 {
  50%  { opacity:.5; }
  75%  { opacity:1; }
  100% { opacity:.75; }
}
@-o-keyframes flickerAnimation2{
  50%  { opacity:.5; }
  75%  { opacity:1; }
  100% { opacity:.75; }
}
@-moz-keyframes flickerAnimation2{
  50%  { opacity:.5; }
  75%  { opacity:1; }
  100% { opacity:.75; }
}
@-webkit-keyframes flickerAnimation2{
  50%  { opacity:.5; }
  75%  { opacity:1; }
  100% { opacity:.75; }
}


.animate-flicker-number {
   -webkit-animation: flickerAnimation2 1.5s infinite;
   -moz-animation: flickerAnimation2 1s infinite;
   -o-animation: flickerAnimation2 2s infinite;
    animation: flickerAnimation2 1.5s infinite;
    animation-delay: 4s;
}

.animate-flicker-number:hover {

  animation: ease;
  opacity: none;
}




@keyframes flickerAnimation3 {
  50%  { opacity:.5; }
  75%  { opacity:1; }
  100% { opacity:.75; }
}
@-o-keyframes flickerAnimation3{
  50%  { opacity:.5; }
  75%  { opacity:1; }
  100% { opacity:.75; }
}
@-moz-keyframes flickerAnimation3{
  50%  { opacity:.5; }
  75%  { opacity:1; }
  100% { opacity:.75; }
}
@-webkit-keyframes flickerAnimation3{
  50%  { opacity:.5; }
  75%  { opacity:1; }
  100% { opacity:.75; }
}


.animate-flicker-punctuation {
   -webkit-animation: flickerAnimation3 1.5s infinite;
   -moz-animation: flickerAnimation3 1s infinite;
   -o-animation: flickerAnimation3 2s infinite;
    animation: flickerAnimation3 1.5s infinite;
    animation-delay: 6s;
}

.animate-flicker-punctuation:hover {

  animation: ease;
  opacity: none;
}





@keyframes flickerAnimation4 {
  50%  { opacity:.5; }
  75%  { opacity:1; }
  100% { opacity:.75; }
}
@-o-keyframes flickerAnimation4{
  50%  { opacity:.5; }
  75%  { opacity:1; }
  100% { opacity:.75; }
}
@-moz-keyframes flickerAnimation4{
  50%  { opacity:.5; }
  75%  { opacity:1; }
  100% { opacity:.75; }
}
@-webkit-keyframes flickerAnimation4{
  50%  { opacity:.5; }
  75%  { opacity:1; }
  100% { opacity:.75; }
}


.animate-flicker-text {
   -webkit-animation: flickerAnimation4 1.5s infinite;
   -moz-animation: flickerAnimation4 1s infinite;
   -o-animation: flickerAnimation4 2s infinite;
    animation: flickerAnimation4 1.5s infinite;
    animation-delay: 8s;
}

.animate-flicker-text:hover {

  animation: ease;
  opacity: none;
}





@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
.crt::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: .5;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.3s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 100;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
