body {
	font-size:100%;
	color:teal;
	font-family:helvetica, sans-serif;
	padding-top: 2em;
	padding-left:8.5em;
	padding-right:8.5em;
	padding-bottom:5em;


}

a{
	text-decoration:underline;
	color:white;
	font-weight:bold;
	font-family: helvetica,sans-serif;
	padding: 10px;
	background-color: orange;
}

p{
	text-decoration:underline,none;
	color:black;
	text-decoration:none;
	font-family:helvetica,sans-serif;
	text-decoration: none;
	padding-left: 70px;
	padding-right:100px;
	font-size: 13pt;
  line-height: 1.85;
}


h2{
	color:black;
	padding: 0 30px;
}
header{
	font-weight: bolder;
	font-size:62px;
	font-family:helvetica, sans-serif;
	text-decoration:none;

}

img{
	width: 33.3%;
}
