body {
	font-family: helvetica;

}


a{
	text-decoration:underline;
	color:white;
	text-align: center;
	display: inline-block;
	padding-left:93.5px;
	padding-right:93.5px;
	padding-top:20px;
	padding-bottom:20px;
	font-size:1em;
	text-decoration: none;
	font-weight: bold;

}

p{
	font-size: 13px;
	line-height: 30px;
	letter-spacing: -0.015em;
	color: #000000;
	position: absolute;
	width: 317px;
	height: 553px;
	left: 1063px;
	top: 186px;

}

h1{
	position: absolute;
	width: 266.93px;
	height: 111.6px;
	left: 862px;
	top: 85px;
	font-family: 'Permanent Marker';
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 73px;
	display: flex;
	align-items: center;
	letter-spacing: -0.015em;
	color: #000000;
	transform: rotate(-20deg);

}

h2{
	position: absolute;
	width: 1440px;
	height: 248px;
	top: 1704px;
	font-family: 'Permanent Marker';
	font-style: normal;
	font-weight: normal;
	font-size: 130px;
	line-height: 189px;
	text-align: center;
	letter-spacing: -0.015em;
	color: #FF51F8;

}

h3{
	position: absolute;
	width: 1440px;
	height: 330px;
	top: 4332px;
	font-family: 'Permanent Marker';
	font-style: normal;
	font-weight: normal;
	font-size: 130px;
	line-height: 189px;
	text-align: center;
	letter-spacing: -0.015em;
	color: #FF8A35;

}

h4{
	position: absolute;
	width: 1440px;
	height: 249px;
	top: 6219px;
	font-family: 'Permanent Marker';
	font-style: normal;
	font-weight: normal;
	font-size: 130px;
	line-height: 189px;
	text-align: center;
	letter-spacing: -0.015em;
	color: #DBC2FB;

}

h5{
	position: absolute;
	width: 1440px;
	height: 259px;
	top: 7679px;
	font-family: 'Permanent Marker';
	font-style: normal;
	font-weight: normal;
	font-size: 130px;
	line-height: 189px;
	text-align: center;
	letter-spacing: -0.015em;
	color: #FF51F8;

}

img{
	position: absolute;

}

#header{
	background:#FF0099;
	width: 100%
	height:0;
	position:fixed;


}
