
* {
    margin: 13px;
    padding:13px;
    box-sizing: border-box;
}
body {
    background: darkorange;
    position: relative;
}
#desktop {
    width: 350px;
    animation: bounce .5s alternate infinite;
    position: absolute;
    top: 80px;
    left: 25px;
}
@keyframes bounce {
  0% {
    transform: translate(0px, 80px);
  }
  100% {
    transform: translate(0px, -5px);
  }
}

#tablet,
#mobile {
    display: none;
}

/* tablet */
@media (min-width: 670px) and (max-width: 1024px) {
    body {
        background: purple;
    }
    #tablet {
      display: block;
      width: 350px;
      animation: bounce1 .75s alternate infinite;
      position: absolute;
      top: 50px;
      left: 25px;
  }
  @keyframes bounce1 {
    0% {
      transform: translate(0px, 50px);
    }
    100% {
      transform: translate(0px, -5px);
    }
}
  #desktop,
  #mobile {
    display: none;
  }
}

/* mobile */
@media (max-width: 670px) {
    body {
        background: deeppink;
    }
    #mobile {
      display: block;
      width: 350px;
      position: absolute;
      top: 80px;
      left: 25px;

    }
    #desktop,
    #tablet,
    #print {
        display: none;
    }
}
