
* {
    margin: 13px;
    padding:13px;
    box-sizing: border-box;
}
body {
    background: darkorange;

}
#desktop {

}

/* tablet */
@media (min-width: 670px) and (max-width: 1024px) {
    body {
        background: purple;
    }
    #tablet {

    }

}
/* mobile */
@media (max-width: 670px)
    body {
        background: deeppink;
    }
    #mobile {

    }
