body {
  	background: white;
    padding: 40px;


    background-size: 40px 40px;
    background-image:
    linear-gradient(to right,  lightblue 1px, transparent 1px),
    linear-gradient(to bottom, lightblue 1px, transparent 1px);

}


.container{
		display: flex;
		flex-wrap: wrap;
		margin: auto;
}




.dots {
  position: relative;
  padding:40px;

	display: grid;
	float: left;

  grid-template-columns: 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px;
	grid-template-rows: 13px 13px 13px 13px 13px;
	grid-gap: 0px 0px;
}


/* letter pieces */

.dots div {
  border-radius: 20px;
	background: black;
}

.dots div.empty {
	background: transparent;
  box-shadow: none;
}




.letter {
	position: relative;
	margin: 40px;

	display: grid;
	float: left;

	grid-template-columns: 40px 40px 40px 40px 40px;
	grid-template-rows: 40px 40px 40px 40px 40px;
	grid-gap: 0px 0px;
}


/* letter pieces */

.letter div {
	border-radius: 20px;
	background: #0FA9FF;
}

.letter div.empty {
	background: transparent;
  box-shadow: none;
}


.letter:hover {
    transform: rotate(30deg);

}




.number {
	position: relative;
	margin: 40px;

	display: grid;
	float: left;

	grid-template-columns: 20px 20px 20px 20px 20px;
	grid-template-rows: 20px 20px 20px 20px 20px;
	grid-gap: 0px 0px;
}


/* letter pieces */

.number div {
	border-radius: 20px;
	background: #FF7A00;
}

.number div.empty {
	background: transparent;
  box-shadow: none;
}


.number:hover {
    transform: rotate(-30deg);

}




.punctuation {
  position: relative;
	margin: 40px;

	display: grid;
	float: left;

	grid-template-columns: 20px 20px 20px 20px 20px;
	grid-template-rows: 20px 20px 20px 20px 20px;
	grid-gap: 0px 0px;
}


/* letter pieces */

.punctuation div {
  border-radius: 20px;
	background: #FF44D6;
}

.punctuation div.empty {
	background: transparent;
  box-shadow: none;
}


.punctuation:hover {
    transform: rotate(30deg);
}
